._2xo._56v-{display:none}._4woj{height:171px}
.sp_V53xxlprDHX_2x{background-image:url(/rsrc.php/v3/y_/r/dWzMJsqdCCk.png);background-size:19px 36px;background-repeat:no-repeat;display:inline-block;height:17px;width:18px}.sp_V53xxlprDHX_2x.sx_85ef4e{background-position:0 0}.sp_V53xxlprDHX_2x.sx_4fbfa4{background-position:0 -18px}

#bootloader_1LPIc{height:42px;}.bootloader_1LPIc{display:block!important;}