._6ijr{background-color:#f2f3f5;padding:7px 7px 6px 11px}._6ijr ._6ijs{background-color:#fff}
._5ww2{color:#4b4f56;font-weight:bold}

#bootloader_GOFH_{height:42px;}.bootloader_GOFH_{display:block!important;}